# OpenPanel Analytics Configuration
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=b4586d53-64e1-483a-b28b-e19916b29c9b

# Self-hosted OpenPanel API event ingestion endpoint
NEXT_PUBLIC_OPENPANEL_API_URL=https://openpanel.gventureshq.com/api
