name: Build Hugo Site

on:
  push:
    branches:
      - main
    paths:
      - "apps/hugo-site/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"
          extended: true

      - name: Set up Task
        uses: arduino/setup-task@v2

      - name: Build Hugo site
        run: task hugo:build

      # This is now automatically deployed by Cloudflare Pages
